.git
.gitignore
.venv
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
!.env.example

data
*.sqlite
*.sqlite3
*.db

tests
coverage
.coverage
htmlcov

docker-compose.yml.backup
